<html style="overflow: hidden;">
  <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  </head>
  <body onload="resize()">
    <div class="inner-content">
    <form method="post" id="integration-form">
      {{{tpl}}}
      <input type="hidden" value="{{{token}}}" name="token" />
    </form>
  </div>
    <script>
      var form = document.getElementById('integration-form');

      // (function () {
        form.addEventListener("submit", (e) => {
          e.preventDefault();
          return false
        });

        window.addEventListener('message', function(event) {
          if (event.data.post_form) {
            removeErrorFields()
            var formData = new FormData(form);
            var action = form.getAttribute('action') || "";

            var object = {};
            formData.forEach(function(value, key){
                object[key] = value;
            });
            var json = JSON.stringify(object);

            let params = {
              method: "POST",
              body: json,
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              }
            }

            if (containsFiles(form)) {
              delete params.headers
              params.body = formData
            }

            fetch(action, params)
            .then(function(response) {
              response.json()
              .then((e) => {
                if ( e.success ) {
                  sendSavedToParent()
                } else if (!e.success) {
                  showError(e)
                } else {
                  showError("An error occured")
                }

                window.parent.postMessage({'iframe_loaded': {height: form.clientHeight}}, "*");
              })
              .catch((e) => {
                showError(e)
              })
            })
            .catch(function(error) {
              showError(error)
            });

            return false;
          }
        })

        const showError = (error) => {
          window.parent.postMessage({'iframe_saved': {success: false}}, "*");

          if (error.errorFields) {
            var input;

            for ( var key in error.errorFields ) {
              input = form.querySelector(`[name="${key}"]`)
              input.classList.add('is-danger')

              var p = document.createElement('p')
              p.setAttribute("class", "help is-danger error")
              p.innerHTML = error.errorFields[key]

              input.parentNode.insertBefore(p, input.nextSibling);
            }
          }
        }

        const removeErrorFields = () => {
          var errors = document.querySelectorAll('p.is-danger');

          for (var i = 0 ; i < errors.length ; i++) {
            errors[i].remove()
          }

          var fields = form.querySelectorAll('input, textarea, checkbox, select')

          for (var i = 0 ; i < fields.length ; i++) {
            fields[i].classList.remove('is-danger')
          }
        }

        const sendSavedToParent = () => {
          window.parent.postMessage({'iframe_saved': {success: true}}, "*");
        }
      // })()

      const resize = () => {
        setTimeout(function() {
          window.parent.postMessage({'iframe_loaded': {height: form.clientHeight}}, "*");
        }, 100)
      }

      const containsFiles = (form) => {
        return form.querySelectorAll('[type="file"]').length > 0
      }
    </script>
  </body>
</html>
